.list-group-item.activeRecipe{
  border: 1px solid #164a6d;
  background-color: #164a6d;
  color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  transition: all 0.6s;
}

.spaced{
  margin-top: 15px;
}


.centered{

}
