/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Raleway', sans-serif;
}

.btns-centered{
  text-align: center;
}


/*New Button CSS*/
.btn {
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #174c6e;
  color: #fff;
  transition: all 0.5s;
}

.btn:hover {
  background-color:#337ab7;
  color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  transition: all 0.5s;
}

.btn:focus {
  color: #fff;
  text-decoration: none;
}

/*Edit Buttons CSS*/

.btn-shopping {
  font-family: 'Raleway', sans-serif;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0097A7;
  color: #fff;
  transition: all 0.5s;
}

.btn-shopping:hover {
  background-color: #00BCD4;
  color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  transition: all 0.5s;
}

.btn-shopping:focus {
  color: #fff;
  text-decoration: none;
}

.btn-edit {
  font-family: 'Raleway', sans-serif;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #283593;
  color: #fff;
  transition: all 0.5s;
}

.btn-edit:hover {
  background-color: #3d5afe;
  color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  transition: all 0.5s;
}

.btn-edit:focus {
  color: #fff;
  text-decoration: none;
}


.btn-delete {
  font-family: 'Raleway', sans-serif;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #d50000;
  color: #fff;
  transition: all 0.5s;
}

.btn-delete:hover {
  background-color: #ff1744;
  color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  transition: all 0.5s;
}

.btn-delete:focus {
  color: #fff;
  text-decoration: none;
}

.btn-deleteX {
  font-family: 'Raleway', sans-serif;
  padding: 5px 5px 5px 5px;
  border: none;
  border-radius: 5px;
  background-color: #d50000;
  color: #fff;
  transition: all 0.5s;
}

.btn-deleteX:hover {
  background-color: #ff1744;
  color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  transition: all 0.5s;
}

.btn-deleteX:focus {
  color: #fff;
  text-decoration: none;
}

.btn-add {
  font-family: 'Raleway', sans-serif;
  padding: 5px 5px 5px 5px;
  border: none;
  border-radius: 5px;
  background-color: #174c6e;
  color: #fff;
  transition: all 0.5s;
}

.btn-add:hover {
  background-color:#337ab7;
  color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  transition: all 0.5s;
}

.btn-add:focus {
  color: #fff;
  text-decoration: none;
}
